:root {
  --bg-main: #0b0c10;
  --bg-card: #11141c;
  --text-main: #f5f5f5;
  --text-secondary: #c0c4cc;

  --gryff-main: #7f0909;
  --gryff-accent: #d3a625;

  --btn-primary: #d3a625;
  --btn-primary-hover: #b4881e;
}

.logo {
  width: 70px;
  height: 70px;
}
.mobileMenu {
  width: 40px;
  height: 40px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 2rem;
  max-width: 1600px;
  margin: auto;
  height: 120px;
}
.header > nav {
  display: none;
}
.header > nav > ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.header > nav > ul > li > a {
  text-decoration: none;
  color: black;
}
.overlay {
  background-color: #f5f5f5;
  width: 100%;
  height: calc(100vh - 120px);
  position: absolute;
  transition: 0.3s;
}

.overlayPositionHidden {
  transform: translateX(-8000px);
}

.overlayPosition {
  transform: translateX(0px);
}

.mobileNav {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 0 2rem;
  justify-content: center;
}

.mobileNav > ul {
  padding-top: 2rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.mobileNav > ul > li {
  list-style: none;
}

@media screen and (width >= 768px) {
  .mobileMenu {
    display: none;
  }

  .header > nav {
    display: inline-block;
  }
}
