.cardsWrapper {
  /* display: flex;
  flex-wrap: wrap;
  gap: 2rem; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 20px;
}
.staffWrapper {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 1rem;
  padding: 10px;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  cursor: pointer;
}
.staffWrapper:hover {
  box-shadow:
    rgba(28, 157, 103, 0.3) 0px 0px 5px 0px,
    rgba(28, 157, 103, 0.3) 0px 0px 1px 0px;
}
.staffCard {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem;
}
.staffWrapper img {
  width: 100px;
  height: 100px;
}
.staffInfo ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 8px;
}
.qualificationWrapper {
  display: flex;
  gap: 1rem;
}
.qualificationWrapper img {
  width: 40px;
  height: 40px;
}
.staffInfoWrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
}
