.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.logoWrapper {
  display: flex;
  justify-content: start;
  align-items: center;
}
.logoWrapper img {
  width: 60px;
  height: 60px;
}
.header nav ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.menuMobile {
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: none;
}

.overlay {
  background-color: #f5f5f5;
  width: 100%;
  height: calc(100vh - 100px);
  position: absolute;
  transition: 0.3s;
  display: flex;
  justify-content: end;
  padding: 10px;
}

.overlayPositionHidden {
  transform: translateX(8000px);
}

.overlayPosition {
  transform: translateX(0px);
}
.overlay nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (max-width: 800px) {
  .menuMobile {
    display: block;
  }
  .menuDesktop {
    display: none;
  }
}
