/* HTML: <div class="loader"></div> */
.loader {
  width: 60px;
  aspect-ratio: 1;
  --g: conic-gradient(from -90deg at 10px 10px, #000 90deg, #0000 0);
  background: var(--g), var(--g), var(--g);
  background-size: 50% 50%;
  animation: l17 1s infinite;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@keyframes l17 {
  0% {
    background-position:
      0 0,
      10px 10px,
      20px 20px;
  }
  33% {
    background-position:
      -30px 0,
      10px 10px,
      20px 20px;
  }
  66% {
    background-position:
      -30px 0,
      -20px 10px,
      20px 20px;
  }
  100% {
    background-position:
      -30px 0,
      -20px 10px,
      -10px 20px;
  }
}
